.perfRow {
    margin-bottom: 2px;
    display: flex;
}

.datepicker {
    width: 100px;
    margin-right: 2px;
}

.timepicker {
    width: 60px;
    margin-right: 2px;
}

.locationInput {
    margin-right: 2px;
    margin-left: 2px;
}

.seatsInput {
    width: 40px;
    margin-right: 2px;
    margin-left: 2px;
}